noladata/processed/addresses
noladata/processed/boundary
noladata/processed/buildings
noladata/processed/nora
noladata/processed/parcels
noladata/processed/zipcodes
noladata/processed/zoning
raw
.*.swp
*.pyc
